OPENAI_API_KEY=
DEEPL_API_KEY=
GITHUB_OWNER=
GITHUB_REPOSITORY=
GITHUB_PATH=
GITHUB_TOKEN=
GITHUB_BRANCH=
APP_LEVEL=

US_TWITTER_API_KEY=
US_TWITTER_API_KEY_SECRET=
US_TWITTER_ACCESS_TOKEN=
US_TWITTER_ACCESS_TOKEN_SECRET=

ASIA_TWITTER_API_KEY=
ASIA_TWITTER_API_KEY_SECRET=
ASIA_TWITTER_ACCESS_TOKEN=
ASIA_TWITTER_ACCESS_TOKEN_SECRET=

EUR_TWITTER_API_KEY=
EUR_TWITTER_API_KEY_SECRET=
EUR_TWITTER_ACCESS_TOKEN=
EUR_TWITTER_ACCESS_TOKEN_SECRET=

FACEBOOK_API_KEY=